h2 {

    color: red;
    background-color:black ;
}

h3 {
    color: yellow;
    background-color: green;
}

p {
    color: chocolate;
    background-color: grey;
}

.firstdiv {
    background-color: brown;
}

span {
    color: black;
    background-color: royalblue;
}

.seconddiv {
    color:yellow;
}