body {
    background-color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h2 {

    color: red;
    background-color:black ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h3 {
    color: yellow;
    background-color: green;
}

p {
    color: chocolate;
    text-align: center;
    font-size:90% ;
    
}

.firstdiv {
    background-color: brown;
}

span {
    color: black;
    background-color: royalblue;
}

.seconddiv {
    font-family: Pacifico;
    color:yellow;
}

#myp {
    color: black;
}

#secondp {
    color: aliceblue;
}

.thirddiv {
    background-color: pink;
}

h1 {
    text-align: center;
    font-size: 2em;
}

#umut {
    border: 7px dashed red ;
    padding: 10px;
    margin: 100px;
}

#sarper {
    border: 7px solid purple ;
    margin: 30px;
}