h2 {

    color: red;
    background-color:black ;
}

h3 {
    color: yellow;
    background-color: green;
}

p {
    color: chocolate;
    
}

.firstdiv {
    background-color: brown;
}

span {
    color: black;
    background-color: royalblue;
}

.seconddiv {
    color:yellow;
}

#myp {
    color: black;
}

#secondp {
    color: aliceblue;
}

.thirddiv {
    background-color: pink;
}